body {
	font-family: monospace;
}

* {
    box-sizing: border-box;
}

.currentTemperatureLabel {
	margin-left: 10px;
	font-size: 1.5em;
	font-weight: bold;
}

.requiredTemperatureLabel {
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
}

.requiredTemperatureChangingLabel {
	font-size: 1.2em;
	font-weight: normal;
	font-style: : italic;
}

.requiredTemperatureSlider {
	margin-left: 15px;
	float: left;
	width: 50%;

}